html {
  background: rgba(96, 125, 139, 0.5) !important;
}

.character {
  background: rgba(81, 140, 202, 0.8);
  text-transform: uppercase;
  letter-spacing: -1pt;
  padding: 1rem !important;
  font-size: 2rem;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.character:hover {
  opacity: 0.7;
}

.header {
  font-family: "Titillium Web", sans-serif;
  background: #f44336 !important;
}

.characters-list {
  font-family: "Titillium Web", sans-serif;
}

.main-title {
  letter-spacing: -5pt;
}
